.navbardemo .navbar-container {
    position: relative !important;
    width: 90%;
  }

  .bgCss834backgound {
    height: 50% !important;
  }

  /* .navbardemo{
    .topnav{
      position: unset;
      position: static !important;
    }
  } */

  amexio-viewport-content-body {
    display: grid;
     position: relative;
     justify-content: center;
      height: 100%;
     width: 100%; 
   }